#opening-message-label {
  position: absolute;
  width: 100%;
  background: #fff;
  height: 100px;
  top: 360px;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.opening-message-label-text--first,
.opening-message-label-text--second {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 100px;
  transform: translateX(-50%);
}
