.playing-card-game__bubble {
  position: relative;
  width: 320px;
  height: 150px;
  margin: 0 auto;
  margin-top: 24px;
  opacity: 0;
  animation: playing-card-game-section__bubble__fade-in 2s forwards;

  &.--right-rotate {
    transform: rotate(-2deg);
  }

  &.--left-rotate {
    transform: rotate(2deg);
  }

  &__body {
    width: 320px;
    height: 130px;
    position: absolute;
    background: #fff;
    border-radius: 32px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 3;
  }

  &__arrow {
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 24px solid #fff;
    border-bottom: 25px solid transparent;
    bottom: 0;
    left: 180px;
    z-index: 4;

    &__shadow {
      position: absolute;
      border-top: 10px solid transparent;
      border-left: 24px solid rgba(0, 0, 0, 0.3);
      border-bottom: 25px solid transparent;
      bottom: -5px;
      left: 185px;
      filter: blur(3px);
      z-index: 1;
    }
  }

  &__message {
    position: absolute;
    top: 2em;
    text-align: center;
    line-height: 2em;
    width: 100%;
    z-index: 4;
  }

  &__button-container {
    position: absolute;
    z-index: 4;
    width: 258px;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);

    &__message {
      text-align: center;
    }

    &__button-list {
      margin-top: 8px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @mixin button($color) {
        width: 120px;
        height: 56px;
        line-height: 56px;
        text-align: center;
        border-radius: 20px;
        font-weight: bold;
        z-index: 4;
        background: $color;
      }

      &__yes-button {
        @include button(rgb(233, 99, 248));
      }

      &__no-button {
        @include button(rgb(28, 236, 236));
      }
    }
  }
}

@keyframes playing-card-game-section__bubble__fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
