.name-entry__button {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translateX(-50%);
  width: 340px;
  height: 56px;
  background: rgb(185, 246, 246);
  border-radius: 28px;
  text-align: center;
  color: rgb(187, 130, 130);
  font-size: 24px;
  font-weight: bold;
  line-height: 56px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  display: block;

  &.--lock {
    cursor: default;
    pointer-events: none;
    background: rgb(201, 233, 233);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translate(calc(-50% + 2px), 2px);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  }
}
