@mixin button {
  display: block;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  background: orange;
  font-weight: bold;
}

.end-game {
  position: absolute;
  top: 295px;
  left: 50%;
  width: 280px;
  transform: translateX(-50%);

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }

  &__restart-same-player-button {
    margin-top: 32px;
    @include button;
  }

  &__restart-other-player-button {
    margin-top: 32px;
    @include button;
  }
}
