#card4.--moving,
#card8.--moving,
#card12.--moving,
#card13.--moving {
  transform: translateX(-360px);
}

#card4.--moving {
  animation: four-line-cards--moving 0.5s forwards;
}

#card8.--moving {
  animation: four-line-cards--moving 0.5s 0.2s forwards;
}

#card12.--moving {
  animation: four-line-cards--moving 0.5s 0.4s forwards;
}

#card13.--moving {
  animation: four-line-cards--moving 0.5s 0.6s forwards;
}

#card3.--moving,
#card7.--moving,
#card11.--moving {
  transform: translateX(-270px);
}

#card3.--moving {
  animation: three-line-cards--moving 0.5s 0.8s forwards;
}

#card7.--moving {
  animation: three-line-cards--moving 0.5s 1s forwards;
}

#card11.--moving {
  animation: three-line-cards--moving 0.5s 1.2s forwards;
}

#card2.--moving,
#card6.--moving,
#card10.--moving {
  transform: translateX(-180px);
}

#card2.--moving {
  animation: two-line-cards--moving 0.5s 1.4s forwards;
}

#card6.--moving {
  animation: two-line-cards--moving 0.5s 1.6s forwards;
}

#card10.--moving {
  animation: two-line-cards--moving 0.5s 1.8s forwards;
}

#card1.--moving,
#card5.--moving,
#card9.--moving {
  transform: translateX(-90px);
}

#card1.--moving {
  animation: one-line-cards--moving 0.5s 2s forwards;
}
#card5.--moving {
  animation: one-line-cards--moving 0.5s 2.2s forwards;
}
#card9.--moving {
  animation: one-line-cards--moving 0.5s 2.4s forwards;
}

@keyframes four-line-cards--moving {
  from {
    transform: translateX(-360px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes three-line-cards--moving {
  from {
    transform: translateX(-270px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes two-line-cards--moving {
  from {
    transform: translateX(-180px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes one-line-cards--moving {
  from {
    transform: translateX(-90px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}