.card {
  &.--turn {
    animation: card--turn 0.5s forwards;

    .check {
      animation: card--turn__check 0.25s forwards;
    }

    .num {
      animation: card--turn__num 0.5s forwards;
    }

    .name {
      &__front-side {
        animation: card--turn__name__front-side 0.5s forwards;
      }

      &__back-side {
        animation: card--turn__name__back-side 0.5s forwards;
      }
    }
  }
}

@keyframes card--turn {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
    background: #fff;
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  }
}

@keyframes card--turn__name__front-side {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes card--turn__name__back-side {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes card--turn__check {
  from {
    transform: translate(-50%, -50%) rotateY(0) rotateZ(40deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(90deg) rotateZ(40deg);
  }
}

@keyframes card--turn__num {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
