<template id="choice-truth-or-callenge-template">
  <div>
    <div class="choice-truth-or-callenge-section__message">
      <p class="choice-truth-or-callenge-section__message--text1">たかおさん</p>
      <p class="choice-truth-or-callenge-section__message--text2">
        "真実"か"挑戦"を選んでください。
      </p>
    </div>
    <div class="choice-truth-or-callenge-section__event-container">
      <button id="choice-truth-event">真実</button>
      <button id="choice-challenge-event">挑戦</button>
    </div>
  </div>
</template>
