<template id="playing-card-game-section__template">
  <div>
    <div class="playing-card-game-section__bubble">
      <div class="playing-card-game-section__bubble__body"></div>
      <div class="playing-card-game-section__bubble__arrow"></div>
      <div class="playing-card-game-section__bubble__arrow__shadow"></div>
      <p class="playing-card-game-section__bubble__text"></p>
      <div class="playing-card-game-section__event-content">
        <p class="playing-card-game-section__event-content__text"></p>
        <div class="playing-card-game-section__event-button-content">
          <button
            id="playing-card-game-section__decided-card-event"
            type="button"
          ></button>
          <button
            id="playing-card-game-section__clear-card-of-select-type-event"
            type="button"
          ></button>
        </div>
      </div>
    </div>
    <ul class="playing-card-game-section__card-list"></ul>
  </div>
</template>
